<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ABU ANAS/Documents/FoodCo_Project"><classes><class name="Tests.AllTests"><methods><include name="testSetUp"/><include name="testVerifyAccountButton"/><include name="testVerifyPageTitle"/><include name="testVerifyHomeApplianceButton"/></methods></class></classes></test></suite>